:root {
  --color-primary: #17171b;
  --color-secondary: #8b95a1;
  --color-danger: #ed455d;
  --color-highlight: #007afe;
  --color-dark: #17171b;
  --color-light: #ffffff;
  --color-border: #e3e5eb;
  --color-background: #f9f9f9;
  --color-nav: #798aa3;

  --root-font-size: 16;

  --padding-xs: calc((4 / var(--root-font-size)) * 1rem);
  --padding-sm: calc((8 / var(--root-font-size)) * 1rem);
  --padding-md: calc((16 / var(--root-font-size)) * 1rem);
  --padding-lg: calc((36 / var(--root-font-size)) * 1rem);
  --padding-xl: calc((48 / var(--root-font-size)) * 1rem);

  --font-family: 'Noto Sans KR', sans-serif;

  --font-size-heading: calc((36 / var(--root-font-size)) * 1rem);
  --font-size-sub-heading: calc((24 / var(--root-font-size)) * 1rem);
  --font-size-paragraph: calc((16 / var(--root-font-size)) * 1rem);

  --font-weight-heading: 300;

  --border-width: calc((1 / var(--root-font-size)) * 1rem);
  --border: var(--border-width) solid var(--color-border);

  --border-radius-xs: calc((4 / var(--root-font-size)) * 1rem);
  --border-radius-lg: calc((34 / var(--root-font-size)) * 1rem);

  --width-media-screen: 1024px;
  --width-form-fix: 360;
}

.form {
  margin: 0 auto;
  width: 100%;
  max-width: calc((var(--width-form-fix) / var(--root-font-size)) * 1rem);
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
}

.form legend {
  position: absolute;
  opacity: 0;
}

.form-item {
  width: 100%;
  height: calc((40 / var(--root-font-size)) * 1rem);
  line-height: 1;
  padding: 0 var(--padding-md);
  border: var(--border);
  border-radius: var(--border-radius-xs);
  text-align: center;
}

.form-file-preview {
  display: block;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.form-file-preview img {
  width: 100%;
  height: 100%;
}

label + input[type='file'] {
  height: 0;
  border: 0;
  visibility: hidden;
}

.error-message {
  color: var(--color-danger);
}

.btn-wrap {
  display: flex;
  gap: var(--padding-sm);
  width: 100%;
  max-width: calc((var(--width-form-fix) / var(--root-font-size)) * 1rem);
}

.btn-wrap > * {
  flex: 1;
}

@media (max-width: 1024px) {
  .form,
  .btn-wrap {
    max-width: 100%;
  }
}

.btn {
  height: calc((50 / var(--root-font-size)) * 1rem);
  line-height: 1;
  border-radius: var(--border-radius-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-paragraph);
}

.btn--primary {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.btn--secondary {
  background-color: var(--color-light);
  color: var(--color-secondary);
}

.btn--danger {
  background-color: var(--color-danger);
  color: var(--color-light);
}
