:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #4a493f;
  --font-size-paragraph: 16px;
}

html {
  font-size: 100%; /* 16px */
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-dark);
  font-size: var(--font-size-paragraph);
}

@media (max-width: 1024px) {
  /** 데스크탑 이하 디바이스 **/

  html {
    font-size: 90%;
  }
}
